<div id="feedback">
<!-- <p>
If you have a  bug report, problem with the page, feature request or question, 
please contact us by filling out and submitting the following form. Your comments 
and email address will be kept private in accordance with Capacity<i>Plus</i>'s 
<a target="_new" href="http://www.capacityplus.org/index?option=com_content&amp;task=view&amp;id=34&amp;Itemid=63">privacy policy</a>. 
 We will use your email address only to reply to your request.

You may also contact us by emailing us directly at 
<a href="mailto:hris@capacityproject.org">hris@capacityproject.org</a>.
</p> 
<hr />
-->
<h4>Site Feedback Form</h4>
<!-- <p>Required fields are marked with a red asterisk (<span style="color:red;"><b>*</b></span>)</p> -->
<div id="error" />
<form method="POST" action="feedback">
<input type="hidden" name="referer" id="referer" />
<table class="tableForm">
  <tr>
   <td colspan="2"><label for="Comments">Comments:</label><br />
   <textarea name="Comments" rows="10" cols="45" id="Comments"></textarea>
   </td>
  </tr>
  <tr class="spacer">
   <td><label for="Name">Name:</label></td>
   <td><input type="text" name="Name" id="Name" />
   </td>
  </tr>
  <tr>
   <td><label for="Company">Company:</label></td>
   <td><input type="text" name="Company" id="Company" />
   </td>
  </tr>
  <tr>
   <td><label for="Title">Title:</label></td>
   <td><input type="text" name="Title" id="Title" />
   </td>
  </tr>
  <tr>
   <td><label for="Industry">Industry:</label></td>
   <td><input type="text" name="Industry" id="Industry" /></td>
  </tr>
  <tr>
   <td><label for="Address">Address:</label></td>
   <td><input type="text" name="Address" id="Address" />
   </td>
  </tr>
  <tr>
   <td><label for="City">City:</label></td>
   <td><input type="text" name="City" id="City" />
   </td>
  </tr>
  <tr>
   <td><label for="State">State/Province:</label></td>
   <td><input type="text" name="State" id="State" />
   </td>
  </tr>
  <tr>
   <td><label for="Postal_Code">Postal Code:</label></td>
   <td><input type="text" name="Postal_Code" id="Postal_Code" />
   </td>
  </tr>
  <tr>
   <td><label for="Country">Country:</label></td>
   <td><input type="text" name="Country" id="Country" />
   </td>
  </tr>
  <tr class="spacer">
   <td><label for="Telephone">Telephone:</label></td>
   <td><input type="text" name="Telephone" id="Telephone" />
   </td>
  </tr>
  <tr>
   <td><label for="Fax">Fax:</label></td>
   <td><input type="text" name="Fax" id="Fax" />
   </td>
  </tr>
  <tr>
   <td><label for="Email">Email:</label></td>
   <td><input type="text" name="Email" id="Email" />
   </td>
  </tr>
  <tr class="spacer">
   <td><!-- <p class="smallGray"><span style="color: red;">*</span> Required</p> --></td>
   <td><input type="submit" value="Submit" name="submit" class="button" />
    <input type="reset" value="Clear" name="reset" class="button" />
   </td>
  </tr>
 </table>
 
</form>

</div><!-- /feedback -->