<div id="siteContent">
    <h1>
    View Person: <span type="form" name="person:surname" />,<span type="form" name="person:firstname" />
    </h1>
    <div id='external_hwr_apps' class='extenral_hwr_apps' style='float:right;display:block;width:100%' >
        <span type='module' name='IL-HWR'  ifenabled='true' >
            <span role='admin' style='display:inline-block;float:right;'>
                <span type='form' href="IL-HWR-redirect?id=" name="person:id" target='_ILHWR'>
                    <center style='max-width:8em'>
                    <img text='Interlinked Health Worker Registry' style='margin-top:-3em;max-width:12em;max-height:5em;display-inline' src='file/OpenInfoMan.png'  />
                    </center>
                    <center style='max-width:8em'>
                    Interlinked Health Worker Registry
                    </center>
                </span>
            </span>
        </span>
        <span type='module' name='mHero'  ifenabled='true' >
            <span role='admin' style='display:inline-block;float:right;'>
                <span type='form' href="mHero_person_workflow?id=" name="person:id" target='_mHero'>
                    <center>
                    <img text='mHero' style='width:12em;max-height:2em;' src='file/mHero.png'  />
                    </center>
                    <center>
                    mHero
                    </center>
                </span>
            </span>
        </span>
    </div>
    <div class="recordsData">
        <h3>
        <a name="jump_individual">Individual Information</a>
        </h3>
        <p class="editRecordsData" id="individual_links">
            <a href="" class="hide" title="Hide" onclick="return hideDiv('individual', this );">Hide</a>
            <span task="person_can_edit_child_form_demographic" type="form" name="person:id" href="demographic?parent=" ifset="!demographic:id">Add Birth/Demographic Information</span>
            <span type='module' name='PersonPassportPhoto' ifenabled='true'>
                <span task="person_can_edit_child_form_person_photo_passport" type="form" name="person:id" href="person_photo_passport?parent=">Add Photo</span>
            </span>
            <span type='module' name='PersonResume' ifenabled='true'>
                <span task="person_can_edit_child_form_person_resume" type="form" name="person:id" href="person_resume?parent=" ifset="!person_resume:id">Add Resume</span>
            </span>
            <span type='module' name='PersonID' ifenabled='true'>
                <span task='person_can_edit_child_form_person_id' type="form" name="person:id" href="person_id?parent=" >Add Identification</span>
            </span>
            <span type='module' name='PrintedForms' ifenabled='true'>
                <span task='printed_forms_can_access'>
                    <span type='module' if="PrintedForms->hasValidForms('person')">
                        <span type='form' href="PrintedForms/menu?id=" name="person:id">Standardized Letters</span>
                    </span>
                </span>
            </span>
            <span type='module' name='NepalParentInfo' ifenabled='true'>
                <span task="person_can_edit_child_form_person_parent_info" type="form" name="person:id" href="person_parent_info?parent=" ifset="!person_parent_info:id">Add Parent Information</span>
            </span>
        </p>
        <div id="individual">
            <div class="editRecord" >
                <p>Edit This Information</p>
                <ul>
                    <li task='person_can_edit'>
                        <span type="form" name="person:id" href="person?id=" >Update this Information </span>
                    </li>
                    <li>
                        <span type="form" name="person:id" parent="true" href="field_history?field=surname,firstname,othername&amp;template=fullname&amp;type=person&amp;id=" >View Name History</span>
                    </li>
                </ul>
            </div>
            <!-- editRecord -->
            <div class="dataTable">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th colspan="2">Name</th>
                    </tr>
                    <span type="form" name="person:surname" showhead="default"></span>
                    <span type="form" name="person:firstname" showhead="default" class="even"></span>
                    <span type="form" name="person:middle_name" showhead="default"></span>
                    <span type="form" name="person:maiden_name" showhead="default"></span>
                    <span type="form" name="person:othername" showhead="default"></span>
                    <span type="form" name="person:othername_2" showhead="default"></span>
                    <span type="form" name="person:othername_3" showhead="default"></span>
                    <tr>
                        <th colspan="2">Nationality / Address</th>
                    </tr>
                    <span type="form" name="person:nationality" showhead="nationality_header" class="even"></span>
                    <span type="form" name="person:nationality_secondary" showhead="nationality_header" class="even"></span>
                    <span type="form" name="person:residence" showhead="location" mline="true">
                    </span>
                    <span type="form" name="person:ward_number" showhead="default" class="even"></span>
                    <span type="form" name="person:street_name" showhead="default" ></span>
                    <span type="form" name="person:house_number" showhead="default" ></span>
                </table>
            </div> <!-- dataTable -->
            <div id='person_photo_passport' class='recordsData'></div>
            <div id='person_resume' class='recordsData'></div>
            <div id="person_id" class='recordsData'></div>
            <div id="person_parent_info" class='recordsData' task='person_can_view_child_form_person_parent_info'/>
            <div id='demographic' class='recordsData'>  </div>
        </div> <!--end indiviudal-->
        <br style="clear: both;" />
    </div> <!--end records data-->
    <span type='module' name='NHWR-Contact' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_person_contact_work|person_can_view_child_form_person_contact_personal|person_can_view_child_form_person_contact_emergency|person_can_view_child_form_person_contact_other'>
            <h3>
            <a name="jump_contact">Contact Information</a>
            </h3>
            <p class="editRecordsData" id="contact_links">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('contact', this );">Hide</a>
            </p>
            <span id='contact'>
                <div id="person_contact_work"></div> <!-- work contact -->
                <div id="person_contact_personal"></div> <!-- personal contact -->
                <div id="person_contact_emergency"></div> <!-- emefencye contact -->
                <div id="person_contact_other"></div> <!-- other contact -->
            </span>
            <br style="clear: both;" />
        </div>
        <!-- recordsData -->
    </span>
    <span type='module' name='dependents' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_dependent'>
            <h3><a name="jump_dependent">Dependent Information</a></h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('dependent', this );">Hide</a>
                <span task='person_can_edit_child_form_dependent' type="form" name="person:id" href="dependent?parent=" >Add Dependent</span>
            </p>
            <div id="dependent"></div>
            <br style="clear: both;" />
        </div>
    </span>
    <span type='module' name='nextOfKin' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_nextofkin'>
            <h3><a name="jump_nextofkin">Next of Kin Information</a></h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('nextofkin', this );">Hide</a>
                <span task='person_can_edit_child_form_nextofkin' type="form" name="person:id" href="nextofkin?parent=" >Add Next of Kin</span>
            </p>
            <div id="nextofkin"></div>
            <br style="clear: both;" />
        </div>
    </span>
    <div class="recordsData"  task='person_can_view_child_form_person_position|person_can_view_child_form_salary|person_can_view_child_form_benefit|person_can_view_child_form_person_employment_summary'>
        <h3><a name="jump_position">Employment Information</a></h3>

        <p class="editRecordsData">
            <a href="" class="hide" title="Hide" onclick="return hideDiv('position', this );">Hide</a>
            <!-- New Employment Summary section for the Employment Summary module -->    
            <span type='module' name='NepalEmploymentSummary' ifenabled='true'>
                <span task="person_can_edit_child_form_person_employment_summary" type="form" name="person:id" href="person_employment_summary?parent=" ifset="!person_employment_summary:id">Add Employment Summary</span>
            </span>
            <!-- End of Employment Summary additions -->
            <span task='person_can_edit_child_form_person_position' ifset="!person_position:id" type="form" name="person:id" href="make_offer?parent=" >Set Position</span>
            <span task='person_can_edit_child_form_person_position' ifset="person_position:end_date" ifvalue="!0000-00-00 00:00:00" type="form" name="person:id" href="make_offer?parent=" >Set Position</span>
            <span task='person_can_edit_child_form_benefit' type="form" name="person:id" href="benefit?parent=" >Add Benefit/Special Payment</span>
        </p>
        <div id="position">
            <div id="person_employment_summary" task='person_can_view_child_form_person_employment_summary'/>
            <br style="clear: both;" />
            <div id="person_position" task='person_can_view_child_form_person_position'/>
            <br style="clear: both;" />
            <div id="salary" task='person_can_view_child_form_salary'/>
            <br style="clear: both;" />
            <div id="benefit" task='person_can_view_child_form_benefit'/>
        </div>
        <!-- position -->
        <br style="clear: both;" />
    </div>
    <!-- recordsData -->
    <span type='module' name='ihris-manage-confirmation' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_confirmation'>
            <h3>
            <a name="jump_confirmation">Confirmation Information</a>
            </h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );">Hide</a>
                <span type='module' call="ihris-manage-confirmation->addAllowedConfirmations({FORM}$person)"/>
            </p>
            <div id='confirmation' ></div>
            <br style="clear: both;" />
        </div>
        <!--  recordsData -->
    </span>
    <div class="recordsData" task='person_can_view_child_form_registration|person_can_view_child_form_person_language|person_can_view_child_form_person_competency'>
        <h3><a name="jump_qualification">Qualifications</a></h3>
        <p class="editRecordsData">
            <a href="" class="hide" title="Hide" onclick="return hideDiv('qualification', this);">Hide</a>
            <span type="module" name="ManageRegistration" ifenbled="true">
                <span task="person_can_edit_child_form_registration" type="form" name="person:id" href="registration?parent=" ifset="!registration:id">Add Registration</span>
            </span>
            <span type='module' name='PersonLanguage' ifenabled='true'>
                <span task='person_can_edit_child_form_person_language' type="form" name="person:id" href="person_language?parent=" >Add Language Proficiency</span>
            </span>
            <span type='module' name='simple-competency' ifenabled='true'>
                <span task='person_can_edit_child_form_person_competency' type="form" name="person:id" href="person_competency?parent=" >Add Competency</span>
                <span task='person_competency_can_view_evaluation' type="form" name="person:id" href="person_competency_history?parent=" >Competency Evaluations</span>
            </span>
        </p>
        <div id="qualification">
            <div id="registration" task='person_can_view_child_form_registration' />
            <div id="person_language" task='person_can_view_child_form_person_language'/>
            <div id="person_competency" task='person_can_view_child_form_person_competency'/>
        </div>
        <!-- qualification -->
        <br style="clear: both;" />
    </div>
    <!-- recordsData -->
    <span type='module' name='training-course' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_person_scheduled_training_course'>
            <h3>
            <a name="jump_courses">Training Courses</a>
            </h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('course', this );">Hide</a>
                <span task='person_can_edit_child_form_person_scheduled_training_course' type="form" name="person:id" href="training-course/schedule-person?parent=" >Add Training Course</span>
            </p>
            <div id='person_scheduled_training_course'/>
                <br style="clear: both;" />
            </div>
    </span>
    <span type='module' name='disciplinary_action' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_disciplinary_action'>
            <h3>
            <a name="jump_disciplinary_action">Current Disciplinary Actions</a>
            </h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('disciplinary_actions', this );">Hide</a>
                <span task='person_can_edit_child_form_disciplinary_action' type="form" name="person:id" href="disciplinary_action/editAction?parent=">New Action</span>
                <span task='person_can_view_child_form_disciplinary_action' type="form" name="person:id" href="history?form=disciplinary_action&amp;show_edit=true&amp;order_by=start_date&amp;id=">History</span>
            </p>
            <div id='disciplinary_actions'>
                <span type='module' call='disciplinary_action->showCurrentActions()'></span>
            </div>
            <br style="clear: both;" />
        </div>
    </span>
    <span type='module' name='accident' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_accident'>
            <h3>
            <a name="jump_accident">Workplace Accidents</a>
            </h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('accidents', this );">Hide</a>
                <span task='person_can_edit_child_form_accident' type="form" name="person:id" href="accident?parent=">Report Accident</span>
                <span task='person_can_view_child_form_accident' type="form" name="person:id" href="history?form=accident&amp;show_edit=true&amp;order_by=start_date&amp;id=" >History</span>
            </p>
            <div id='accidents'>
                <span type='module' call='accident->showCurrentAccidents()'></span>
            </div>
            <br style="clear: both;" />
        </div>
    </span>
    <span type='module' name='ihris-manage-Application' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_application|person_can_view_child_form_position_interview|person_can_view_child_form_position_decision'>
            <h3>
            <a name="jump_application">Application</a>
            </h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('applicant', this );">Hide</a>
                <span task='person_can_edit_child_form_application' type="form" ifset="!application:id" name="person:id" href="application?parent=" >Add Application</span>
                <span task='person_can_edit_child_form_position_interview' type="form" name="person:id" href="position_interview?parent=" >Log Interview Details</span>
                <span task='person_can_edit_child_form_position_decision' type="form" name="person:id" href="position_decision?parent=" ifset="!position_decision:id">Log Hiring Decision</span>
            </p>
            <div id="applicant">
                <div id="position_interview" task='person_can_view_child_form_position_interview'></div>
                <div id="position_decision" task='person_can_view_child_form_position_decision'></div>
                <div id="application" task='person_can_view_child_form_application'></div>
            </div>
            <!-- applicant -->
            <br style="clear: both;" />
        </div>
        <!-- recordsData -->
    </span>
    <span type='module' name='PersonEmployment' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_employment'>
            <h3>
            <a name="jump_employment">Employment History</a>
            </h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('employment', this );">Hide</a>
                <span task='person_can_edit_child_form_employment' type="form" name="person:id" href="employment?parent=" >Add Employment</span>
            </p>
            <div id="employment"></div>
            <br style="clear: both;" />
        </div>
        <!-- recordsData -->
    </span>
    <span type='module' name='PersonEducation' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_education'>
            <h3>
            <a name="jump_education">Education History</a>
            </h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('education', this );">Hide</a>
                <span task='person_can_edit_child_form_education' type="form" name="person:id" href="education?parent=" >Add Education</span>
            </p>
            <div id="education"></div>
            <br style="clear: both;" />
        </div>
        <!--  recordsData -->
    </span>
    <span type='module' name='PersonNotes' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_notes'>
            <h3>
            <a name="jump_notes">Notes</a>
            </h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );">Hide</a>
                <span task='person_can_edit_child_form_notes' type="form" name="person:id" href="notes?parent=" >Add Note</span>
            </p>
            <div id="notes"></div>
            <br style="clear: both;" />
        </div>
        <!--  recordsData -->
    </span>
    <div class="recordsData" task='person_can_view_child_form_person_record_status'>
        <h3><a name="jump_record_status">Record Status</a></h3>
        <p class="editRecordsData" id="record_status_links">
            <a href="" class="hide" title="Hide" onclick="return hideDiv('person_record_status', this );">Hide</a>
        </p>
        <div id="person_record_status"></div>
        <br style="clear: both;" />
    </div> 
    <!--recordsData -->
    <span type='module' name='PersonArchivedScan' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_person_archive_scan'>
            <h3>
            <a name="jump_archived_scans">Scanned Paper Records</a>
            </h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );">Hide</a>
                <span task='person_can_edit_child_form_person_archive_scan' type="form" name="person:id" href="person_archive_scan?parent=" >Add Scanned Document</span>
            </p>
            <div id='person_archive_scan' ></div>
            <br style="clear: both;" />
        </div>
        <!--  recordsData -->
    </span>
    <span type='module' name='SelfService' ifenabled='true'>
        <div class="recordsData" task='person_can_view_child_form_user_map' >
            <h3>
            <a name="jump_self_service">Self Service</a>
            </h3>
            <p class="editRecordsData">
                <a href="" class="hide" title="Hide" onclick="return hideDiv('user_map', this );">Hide</a>
                <span type="form" name="person:id" href="SelfService/userAccount?parent=" ifset="!user_map:id">Assign User Account</span>
            </p>
            <div id="user_map"></div>
            <br style="clear: both;" />
        </div>
        <!--  recordsData -->
    </span>
</div>